.venv

*__pycache__/
*.pyc
*.cache*


*.png
*.err
*.out
*.nsys-rep
*.sqlite
*.sif
*.csv
*.logs

*.prv
*.pcf
*.row

conda-envs/*
*.ipynb_checkpoints

*logs-megatronlm
*results

*training_arguments.json