.venv

*__pycache__/
*.pyc
*.cache

*.png
*.err
*.out
*.nsys-rep
*.sqlite
*.sif
*.csv
*.logs

*.prv
*.pcf
*.row

data/
conda-envs/*

*profiler/

exercises/exercise_3_MegatronLM/.cache-megatronlm/*
exercises/exercise_3_MegatronLM/logs-megatronlm/*
exercises/exercise_3_MegatronLM/results/